football analytics
- league analytics
- team analyics
- cups/championships/finals
- player analytics
- fan analytics
- hackathons
-

# Fifa Analysis

## Imports

In [1]:
import os
import warnings

import pandas as pd
import numpy as np

import seaborn as sns
import matplotlib.pyplot as plt
import plotly.express as px

In [2]:
warnings.filterwarnings(action="ignore")

pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)

## Summary Data

In [4]:
path = "/home/ada/hub/FifaAnalysis/data/"

dfs = []

for i in os.listdir(path):
    if "Summary.csv" not in i:
        df = pd.read_csv(path + i)
        df["year"] = int(i.split("-")[-1].split(".")[0])
        dfs.append(df)
        
df = pd.concat(dfs)
print(df.shape)
df.sample(5)

(457, 11)

,Position,Team,Games Played,Win,Draw,Loss,Goals For,Goals Against,Goal Difference,Points,year
4,5,Poland,6,3,1,2,6,6,0,7,1978
7,8,Sweden,2,1,0,1,4,4,0,2,1934
2,3,United States,3,2,0,1,7,6,1,4,1930
1,2,Argentina,5,4,0,1,18,9,9,8,1930
11,12,Mexico,3,0,2,1,1,3,−2,2,1966

In [5]:
summ = pd.read_csv(path + "FIFA - World Cup Summary.csv")
summ.sample(3)

,YEAR,HOST,CHAMPION,RUNNER UP,THIRD PLACE,TEAMS,MATCHES PLAYED,GOALS SCORED,AVG GOALS PER GAME
15,1998,France,France,Brazil,Croatia,32,64,171,2.7
0,1930,Uruguay,Uruguay,Argentina,United States,13,16,70,3.6
7,1966,England,England,West Germany,Portugal,16,32,89,2.8

**Main df**
- Average comparison: yrly,
- Trend: losses, wins, draws.
- Bi comparison: before and after above.
- Region/continent performance.
- Position comparison: 1 in 1990 vs 1 in 1994.
- r/ship between the variables: time and win, year, goals.
- Goals: trend, top dogs, et.c

**Summary df**
- Just do aggregated visualisation.

## Detailed data

In [6]:
path = "/home/ada/hub/FifaAnalysis/detailed/"

matches = pd.read_csv(path + "WorldCupMatches.csv")
players = pd.read_csv(path + "WorldCupPlayers.csv")
cups = pd.read_csv(path + "WorldCups.csv")

display(matches.head(3))
display(players.head(3))
display(cups.head(3))

,Year,Datetime,Stage,Stadium,City,Home Team Name,Home Team Goals,Away Team Goals,Away Team Name,Win conditions,Attendance,Half-time Home Goals,Half-time Away Goals,Referee,Assistant 1,Assistant 2,RoundID,MatchID,Home Team Initials,Away Team Initials
0,1930.0,13 Jul 1930 - 15:00,Group 1,Pocitos,Montevideo,France,4.0,1.0,Mexico,,4444.0,3.0,0.0,LOMBARDI Domingo (URU),CRISTOPHE Henry (BEL),REGO Gilberto (BRA),201.0,1096.0,FRA,MEX
1,1930.0,13 Jul 1930 - 15:00,Group 4,Parque Central,Montevideo,USA,3.0,0.0,Belgium,,18346.0,2.0,0.0,MACIAS Jose (ARG),MATEUCCI Francisco (URU),WARNKEN Alberto (CHI),201.0,1090.0,USA,BEL
2,1930.0,14 Jul 1930 - 12:45,Group 2,Parque Central,Montevideo,Yugoslavia,2.0,1.0,Brazil,,24059.0,2.0,0.0,TEJADA Anibal (URU),VALLARINO Ricardo (URU),BALWAY Thomas (FRA),201.0,1093.0,YUG,BRA

,RoundID,MatchID,Team Initials,Coach Name,Line-up,Shirt Number,Player Name,Position,Event
0,201,1096,FRA,CAUDRON Raoul (FRA),S,0,Alex THEPOT,GK,NaN
1,201,1096,MEX,LUQUE Juan (MEX),S,0,Oscar BONFIGLIO,GK,NaN
2,201,1096,FRA,CAUDRON Raoul (FRA),S,0,Marcel LANGILLER,NaN,G40'

,Year,Country,Winner,Runners-Up,Third,Fourth,GoalsScored,QualifiedTeams,MatchesPlayed,Attendance
0,1930,Uruguay,Uruguay,Argentina,USA,Yugoslavia,70,13,18,590.549
1,1934,Italy,Italy,Czechoslovakia,Germany,Austria,70,16,17,363.000
2,1938,France,Italy,Hungary,Brazil,Sweden,84,15,18,375.700

**Matches**
- Groups comparison at the stages col.
- Geographical heatmaps: stadiums and where the teams are from.
- zoom into team: look into opponent, home/away, wins vs draws vs losses.
- look at referees.
- look at attendance.
-